In [1]:
import pandas as pd

In [2]:
census=pd.read_csv("D:\\_ANCONDA WORKSHOP\\datasets\\adult.csv\\adult.csv")

In [3]:
census.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [4]:
census.shape

(32561, 15)

In [5]:
census['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [6]:
def label_fit(label):
    if label== '>50k':
        return 1
    else:
        return 0

In [7]:
census['income']=census['income'].apply(label_fit)

In [8]:
census.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,0
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,0
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,0
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,0
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,0

In [9]:
x=census.drop("income",axis=1)

In [10]:
y=census['income']

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_tets=train_test_split(x,y,test_size=0.3,random_state=101)

In [13]:
import tensorflow as tf

In [14]:
census.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         32561 non-null object
fnlwgt            32561 non-null int64
education         32561 non-null object
education.num     32561 non-null int64
marital.status    32561 non-null object
occupation        32561 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
capital.gain      32561 non-null int64
capital.loss      32561 non-null int64
hours.per.week    32561 non-null int64
native.country    32561 non-null object
income            32561 non-null int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

### creating the feature columns for categorical columns

In [15]:
census.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'income'],
      dtype='object')

In [16]:
sex=tf.feature_column.categorical_column_with_vocabulary_list('sex',['Male','Female'])
workclass=tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size=1000)
education=tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size=1000)

occupation=tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)
relationship=tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size=1000)
race=tf.feature_column.categorical_column_with_hash_bucket("race",hash_bucket_size=1000)

### creating the feature column for continious column

In [17]:
age=tf.feature_column.numeric_column("age")

In [18]:
fnlwgt=tf.feature_column.numeric_column("fnlwgt")

In [19]:
education.num =tf.feature_column.numeric_column("education.num ")

In [20]:
capital.gain=tf.feature_column.numeric_column("capital.gain")

NameError: name 'capital' is not defined

In [ ]:
census.drop("education.num",axis=1,inplace=True)

In [21]:
feat_cols=[age, workclass, fnlwgt, education,
        occupation, relationship, race, sex,]

#### creating the input function

In [22]:
input_func=tf.estimator.inputs.pandas_input_fn(x_train,y_train,batch_size=100,num_epochs=None,shuffle=True)

### create a LinearClassifier

In [23]:
model=tf.estimator.LinearClassifier(feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\Pawas\AppData\Local\Temp\tmpp8pz95r1
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\Pawas\\AppData\\Local\\Temp\\tmpp8pz95r1', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x000001A3385B4550>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [24]:
 model.train(input_fn=input_func,steps=5000)

WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow\python\feature_column\feature_column_v2.py:2655: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:308: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow\python\training\monitored_session.py:875: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\Pawas\AppData\Local\Temp\tmpp8pz95r1\model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 91.2794
INFO:tensorflow:loss = 0.0, step = 101 (1.102 sec)
INFO:tensorflow:global_step/sec: 141.543
INFO:tensorflow:loss = 0.0, step = 201 (0.710 sec)
INFO:tensorflow:global_step/sec: 168.478
INFO:tensorflow:loss = 0.0, step = 301 (0.586 sec)
INFO:tensorflow:global_step/sec: 141.533
INFO:tensorflow:loss = 0.0, step = 401 (0.707 sec)
INFO:tensorflow:global_step/sec: 162.033
INFO:tensorflow:loss = 0.0, step = 501 (0.622 sec)
INFO:tensorflow:global_step/sec: 157.669
INFO:tensorflow:loss = 0.0, step = 601 (0.634 sec)
INFO:tensorflow:global_step/sec: 150.217
INFO:tensorflow:loss = 0.0, step = 701 (0.663 sec)
INFO:tensorflow:global_step/sec: 169.472
INFO:tensorflow:loss = 0.0, step = 801 (0.588 sec)
INFO:tensorflow:global_step/sec: 142.232
INFO:tensorflow:loss = 0.0, step = 901 (0.704 sec)
INFO:tensorflow:global_step/sec: 151.519
INFO:tensorflow:loss = 0.0, step = 1001 (0.662 sec)
INFO:tensorflow:global_step/sec: 136.379
INFO:tensorflow:loss = 0.0, step = 1101 (0.733 sec)
INFO:tensorflow:global_step/sec: 156.568
INFO:tensorflow:loss = 0.0, step = 1201 (0.641 sec)
INFO:tensorflow:global_step/sec: 133.533
INFO:tensorflow:loss = 0.0, step = 1301 (0.744 sec)
INFO:tensorflow:global_step/sec: 146.587
INFO:tensorflow:loss = 0.0, step = 1401 (0.686 sec)
INFO:tensorflow:global_step/sec: 131.214
INFO:tensorflow:loss = 0.0, step = 1501 (0.763 sec)
INFO:tensorflow:global_step/sec: 145.376
INFO:tensorflow:loss = 0.0, step = 1601 (0.684 sec)
INFO:tensorflow:global_step/sec: 164.487
INFO:tensorflow:loss = 0.0, step = 1701 (0.611 sec)
INFO:tensorflow:global_step/sec: 137.436
INFO:tensorflow:loss = 0.0, step = 1801 (0.728 sec)
INFO:tensorflow:global_step/sec: 173.99
INFO:tensorflow:loss = 0.0, step = 1901 (0.578 sec)
INFO:tensorflow:global_step/sec: 135.837
INFO:tensorflow:loss = 0.0, step = 2001 (0.730 sec)
INFO:tensorflow:global_step/sec: 168.924
INFO:tensorflow:loss = 0.0, step = 2101 (0.595 sec)
INFO:tensorflow:global_step/sec: 145.227
INFO:tensorflow:loss = 0.0, step = 2201 (0.690 sec)
INFO:tensorflow:global_step/sec: 159.918
INFO:tensorflow:loss = 0.0, step = 2301 (0.621 sec)
INFO:tensorflow:global_step/sec: 159.603
INFO:tensorflow:loss = 0.0, step = 2401 (0.632 sec)
INFO:tensorflow:global_step/sec: 147.794
INFO:tensorflow:loss = 0.0, step = 2501 (0.672 sec)
INFO:tensorflow:global_step/sec: 172.885
INFO:tensorflow:loss = 0.0, step = 2601 (0.577 sec)
INFO:tensorflow:global_step/sec: 138.684
INFO:tensorflow:loss = 0.0, step = 2701 (0.725 sec)
INFO:tensorflow:global_step/sec: 168.84
INFO:tensorflow:loss = 0.0, step = 2801 (0.588 sec)
INFO:tensorflow:global_step/sec: 138.702
INFO:tensorflow:loss = 0.0, step = 2901 (0.725 sec)
INFO:tensorflow:global_step/sec: 166.881
INFO:tensorflow:loss = 0.0, step = 3001 (0.595 sec)
INFO:tensorflow:global_step/sec: 148.378
INFO:tensorflow:loss = 0.0, step = 3101 (0.674 sec)
INFO:tensorflow:global_step/sec: 159.759
INFO:tensorflow:loss = 0.0, step = 3201 (0.626 sec)
INFO:tensorflow:global_step/sec: 164.891
INFO:tensorflow:loss = 0.0, step = 3301 (0.602 sec)
INFO:tensorflow:global_step/sec: 143.842
INFO:tensorflow:loss = 0.0, step = 3401 (0.699 sec)
INFO:tensorflow:global_step/sec: 171.075
INFO:tensorflow:loss = 0.0, step = 3501 (0.584 sec)
INFO:tensorflow:global_step/sec: 137.501
INFO:tensorflow:loss = 0.0, step = 3601 (0.731 sec)
INFO:tensorflow:global_step/sec: 169.33
INFO:tensorflow:loss = 0.0, step = 3701 (0.587 sec)
INFO:tensorflow:global_step/sec: 139.611
INFO:tensorflow:loss = 0.0, step = 3801 (0.720 sec)
INFO:tensorflow:global_step/sec: 163.358
INFO:tensorflow:loss = 0.0, step = 3901 (0.612 sec)
INFO:tensorflow:global_step/sec: 152.13
INFO:tensorflow:loss = 0.0, step = 4001 (0.658 sec)
INFO:tensorflow:global_step/sec: 150.416
INFO:tensorflow:loss = 0.0, step = 4101 (0.667 sec)
INFO:tensorflow:global_step/sec: 169.551
INFO:tensorflow:loss = 0.0, step = 4201 (0.587 sec)
INFO:tensorflow:global_step/sec: 141.58
INFO:tensorflow:loss = 0.0, step = 4301 (0.702 sec)
INFO:tensorflow:global_step/sec: 168.192
INFO:tensorflow:loss = 0.0, step = 4401 (0.595 sec)
INFO:tensorflow:global_step/sec: 136.995
INFO:tensorflow:loss = 0.0, step = 4501 (0.732 sec)
INFO:tensorflow:global_step/sec: 170.548
INFO:tensorflow:loss = 0.0, step = 4601 (0.584 sec)
INFO:tensorflow:global_step/sec: 147.784
INFO:tensorflow:loss = 0.0, step = 4701 (0.681 sec)
INFO:tensorflow:global_step/sec: 157.61
INFO:tensorflow:loss = 0.0, step = 4801 (0.634 sec)
INFO:tensorflow:global_step/sec: 169.728
INFO:tensorflow:loss = 0.0, step = 4901 (0.589 sec)
INFO:tensorflow:Saving checkpoints for 5000 into C:\Users\Pawas\AppData\Local\Temp\tmpp8pz95r1\model.ckpt.
INFO:tensorflow:Loss for final step: 0.0.

### Evaluation
create a prediction input function provide shuffle=False

In [27]:
pred_func=tf.estimator.inputs.pandas_input_fn(x_test,batch_size=len(x_test),shuffle=False)

In [28]:
prediction=list(model.predict(pred_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From C:\Users\Pawas\Anaconda3\lib\site-packages\tensorflow\python\training\saver.py:1276: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from C:\Users\Pawas\AppData\Local\Temp\tmpp8pz95r1\model.ckpt-5000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [29]:
prediction[0]

{'logits': array([-54442.992], dtype=float32),
 'logistic': array([0.], dtype=float32),
 'probabilities': array([1., 0.], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [30]:
 final_preds=[]
for pred in prediction:
    final_preds.append(pred['class_ids'][0])

In [32]:
final_preds[0:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [37]:
from sklearn.metrics import classification_report
classification_report(y_tets,final_preds)

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00      9769\n\n    accuracy                           1.00      9769\n   macro avg       1.00      1.00      1.00      9769\nweighted avg       1.00      1.00      1.00      9769\n'